* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.toast{
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 2px;
    padding: 20px 0;
    border-left: 4px solid;
    box-shadow: 0 5px 8px rgba(0, 0, 0, .08);
   transition: all linear .3s;
}
@keyframes slideInLeft{
    from{
        transform: translateX(calc(100% ));
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes fadeOut{
    to{
        opacity: 0;

    }
}
.toast+.toast{
    margin-top: 24px;
}
.toast__icon{
    font-size: 24px;
    margin: 0 10px;
}

.toast__body{
    flex-grow: 1;
}

.toast__title{
    font-size: 16px;
    font-weight: 600;
    color: #333;
}

.toast__msg{
    font-size: 14px;
    color: #888;
    margin-top: 4px;
}

.toast__close{
    font-size: 20px;
    color: rgba(0, 0, 0, .3);
    cursor: pointer;
    margin: 0 8px;
}
.toast__close:hover{
    opacity: .7;
}


.toast--success{
    color: #47d864;
}

.toast--warning{
    color: #ffc021;
}

.toast--error{
    color:#ff623d ;
}
#toast{
    position: fixed;
    top: 32px;
    right: 32px;
    z-index: 999999;
}

/* btn  */
.btn{
    display: inline-block;
    background-color: transparent;
    border: none;
    outline: none;
    color: #fff;
    padding: 12px 48px;
    border-radius: 50px;
    cursor: pointer;
    transition: opacity 0.2 ease;
}
.btn:hover{
    opacity: 0.8;

}
.btn--success{
    background-color: #71be34;
}
.btn--danger{
    background-color: #ff623d;
}
.btn+.btn{
    margin-left: 16px;
}
.btn--disable{
    opacity: 0.5 !important;
}
